html body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0px;
    padding:0px;
    background-color: #F4F4F4;
}

.navbar {
    font-size: 18px;
    padding-bottom: 10px;
    background-color: #F4F4F4; 
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: #3ACF23; 
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-weight: bold;
    font-size: x-large;
    margin-top: 10px;
    margin-left: 20px;
}
.section-header{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    /* font-weight: bold; */
    font-size: 2em;
    text-decoration: none;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: black;
    font-size: 24px;
}

.active {
    display: block;
}
.span-logo{
    color: black;
}
.span-logo2{
    color: #3ACF23;
}

.hero { 
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:  url('../images/landing-bg.jpg');
    background-size: cover;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color:rgba(117, 23, 88, 0.46);
}
.hero h1 {
    position: relative;
    color: #ffffff;
    display: block;  
    margin: 0 2em;
}
.hero p {
    position: relative;
    color: #ffffff; 
    display: block; 
    font-size: 1.5em;
    margin: 1em 0;
}

.section-heading{
    padding: 3em 0em;
    color: #82005A;
    text-align: center;
}

.number{
    border-radius: 50%;
    border: 1px solid #3C6950;
    text-align: center;
    width: 1.5em;
    padding: 1em;
}
.inner-box{
    border: 1px solid #3C6950;
    border-top: 3px solid #3C6950;
    border-radius: 0.5em;
    width: 22em;
    height:20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
}
.inner-box:hover{
    border: 1px solid white;
    background-color: white;
    border-top: 3px solid #3C6950;
    
}
.text{
    color:#3C6950;
}
footer {
    bottom: 0;
    width: 100%;
    background-color: rgb(117, 23, 88);
    height: 100%;
    margin-top: 5em;
    display: flex;
    justify-content: space-evenly;
  }
  .footer{
      display: flex;
      flex-direction: column;
  }
  .footer-bottom{
    display: flex;
    flex-direction: column;
  }
  
  .footer > a {
    line-height: 80px; 
    text-decoration: none; 
    color: #f4f4f4; 
}

.footer-bottom > a {
    line-height: 80px; 
    text-decoration: none; 
    color: #f4f4f4; 
}
.footer-text{
    color:gray;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form .form-wrapper label{
    font-weight: bold;
}
.form-wrapper{
    border: 1px solid lightgray;
    padding: 4em;
    background-color: white;
    border-radius: 0.5em;
}
.form-control{
    display: block;
    margin: 0.5em 0;
    border: 1px solid lightgray;
    background-color: white;
    padding: 0.75em 3em;
    border-radius: 0.5em;
}

.form-control:focus{
    outline:#3ACF23 1px solid;
    border-radius: 0.5em;
    border: 3px solid rgba(58, 207, 35, 0.5);  
}

#spinner{
    display: none; 
}

.submit{
    width: 100%;
    background-color: rgb(117, 23, 88);
    padding: 0.75em;
    color:#fff;
    border: 1px solid rgb(117, 23, 88);
    border-radius: 0.5em;
    margin: 1em 0;
}
.submit:hover{
    background-color:rgba(168, 23, 122, 1);
}
.error{
    color:red;
    font-size: 0.75em;
}
.bottom-text{
    display: flex;
    justify-content: center;
}
.bottom-text p{
    font-size: 1.1em;
}
.bottom-text a{
    color: #3ACF23;
}

/* Media Queries */
@media screen and (max-width: 375px) {
    .hero h1 {
        position: relative;
        color: #ffffff;
        display: block;  
        /* margin: 0 2em; */
        font-size: 1em;
    }
    .hero p {
        position: relative;
        color: #ffffff; 
        display: block; 
        font-size: .75em;
        margin: 1em 0;
    }
}
@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
    }

    .main-nav {
        display: flex;
        margin-right: 2em;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
        border: 1px solid #3ACF23;
        border-radius: 0.2em;
        width: 6em;
        height:3em;
        display: inline-flex;
        justify-content: center;
        align-items: center; 
    }

    .logo {
        margin: 0 5em;
    }

    .navbar-toggle {
        display: none;
    }

    .nav-links:hover {
        background-color: white;
    }
    .box{
        display: flex;
        justify-content: space-around;
        width:100%;
    }
    
    footer{
        height: 100%;
        bottom: 0;
        width: 100%;
        background-color: rgb(117, 23, 88);
        margin-top: 5em;
        display: block;
    }
    .footer{     
        display: flex;
        justify-content: space-around; 
        flex-direction: row;
      }
      .footer-bottom{
        display: flex;
        justify-content: flex-end; 
        flex-direction: row;
    }
    
    .line{
        width: 80%;
        height: 1px;
        display: flex;
        margin: 0 6em;
        border-bottom: 1px solid gray;
    }
    .footer-bottom > a{
        margin:0 3em;
    }
    .form-wrapper{
        border: 1px solid lightgray;
        width: 30%;
        background-color: white;
        border-radius: 0.5em;
    }
    .form-control{
        margin: 0.5em 0;
        border: 1px solid lightgray;
        background-color: white;
        width:100%;
        padding: 0.75em 0;
        border-radius: 0.5em;
        margin: 0.5em 0;
    } 
}

